.gallery {
    max-width: 1184px;
    margin: auto;
    margin-top: 118px;
}   

.gallery__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    display: grid;
}

.gallery__image {
    width: 100%;
}


@media screen and (max-width: 1000px) {
    .gallery {
        padding: 0 24px;
        margin-top: 64px;
    }
    .gallery__grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 555px) {
    .gallery {
        padding: 0 16px;
        margin-top: 38px;
    }

    .gallery__grid {
        grid-template-columns: 1fr;
        gap:12px;
    }
    
}