.intro {
    max-width: 984px;
    padding: 90px 0 0;
    margin: auto;
}

.intro__title {
    max-width: 830px;
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 1.1;
}

.intro__quote-container {
    max-width: 738px;
    display:flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 32px;
}

.intro__quote {
    font-size: 24px;
    line-height: 1.5;
}

.intro__quote-author {
    font-size: 24px;
    align-self: flex-end;
    line-height: 1.5;
}

.intro__text {
    max-width: 722px;
    font-size: 16px;
    line-height: 1.6;
}


@media screen and (max-width: 1000px) { 
    .intro {
        max-width: 720px;
        padding: 90px 24px 0;
        margin: 0;
    }

    .intro__title {
        font-size: 45px;
    }
}


@media screen and (max-width: 480px) {
    .intro {
        padding: 64px 16px 0;
    }

    .intro__title {
        font-size: 32px;
    }
}