.page {
    max-width: 984px;
    margin: auto;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

html {
    background-color: #2a2c2f;
}

/* se que no es BEM utilizar selectores de elementos pero en mi version anterior tenia un .page y un .page__container y el checador automático me lo rechazó por que "La etiqueta <header> debe ser hija de div con la clase page. Verifica la estructura del documento HTML." */