.tour {
    padding-top: 92px;
    max-width: 984px;
}

.tour__card {
    display: grid;
    grid-template-columns: 49fr 51fr;
    grid-template-rows: auto auto;
    gap: 48px 40px;
    margin-bottom: 80px;
}

.tour__title {
    grid-column: 1;
    font-size: 72px;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
}

.tour__artist {
    grid-area: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 1.2;
}

.tour__artist::before {
    content: "ARTISTAS";
    font-size: 12px;
    color: #AAA;
    margin-bottom: 8px;;
}

.tour__right-column {
    grid-row: 2;
    gap: 48px;
    display: flex;
    flex-direction: column;
}

.tour__image {
    width: 100%;
}

.tour__text-box {
    grid-area: 2 / 2;
    line-height: 1.6;
    font-size: 18px;
}

.tour__text {
    margin-bottom: 1em;
}

.tour__text:last-child {
    margin-bottom: 0;
}

.tour__button {
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
    padding:13px 20px;
    color: white;
    max-width: 289px;
}


@media screen and (max-width: 1000px) {
    .tour {
        padding: 92px 24px 0;
    }

    .tour__card {
        gap: 42px 28px;
    }

    .tour__title {
        font-size: 42px;
    }

    .tour__text-box {
        font-size: 16px;
    }
}

/*
@media screen and (max-width: 555px) {
    .tour {
        padding: 62px 0 0;
    }

    .tour__card {
        grid-template-columns: 1fr;
    }

    .tour__title {
        font-size: 32px;
        max-width:  288px;
    }

    .tour__artist {
        grid-area: 2 / 1;
        max-width:  288px;
    }

    .tour__image {
        grid-area: 3 / 1;
    }

    .tour__right-column {

    }
}

*/

@media screen and (max-width: 555px) {
    .tour__card {
        grid-template-areas:  ;
    }
}